name: Semgrep

on:
  # Scan changed files in PRs, block on new issues only (existing issues ignored).
  pull_request: {}
  # Scan the entire project when this file is introduced or modified in your default branch.
  push:
    branches:
      - main
    paths:
      - .github/workflows/semgrep.yml
  # Scan all files regularly to keep your baseline up-to-date.
  schedule:
    - cron: '0 0 * * 0'
jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-latest
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: returntocorp/semgrep
    # Skip any PR created by Dependabot to avoid permission issues
    if: (github.actor != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@v3
      - run: semgrep ci
